 body{
    font-family: 'poppins' sans-serif;

}
.container{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;

}
h1{
    margin-bottom: 20px;
}
#question{
    font-size: 20px;
    margin-bottom: 20px;
}
#choice{
    margin-bottom: 20px;

}
.choice-btn{
    font-size: 60px;
    padding: 10px 20px ;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.choice-btn:hover{
    background-color: #e9e9e9;
}
#result{
    font-size: 20px ;
    margin-bottom: 20px;
}
#next-btn{
    font-size: 16px;
    padding: 10px 20px ;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}
#next-btn:hover{
    background-color: #007bff;
}

 









